/TestApplication/nbproject/private/
/TestApplication/TestApplication-war/nbproject/private/
/TestApplication/TestApplication-ejb/nbproject/private/
/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystem/HoRSManagementClient/nbproject/private/
/HotelReservationSystem/HoRSReservationClient/nbproject/private/
/HotelReservationSystem/HoRSLibrary/nbproject/private/
/HotelReservationSystem/HoRSLibrary/dist/
/HotelReservationSystem/HoRSLibrary/build/
/HotelReservationSystem/HoRSManagementClient/build/
/HotelReservationSystem/dist/
/HotelReservationSystem/build/
/HotelReservationSystem/HoRSReservationClient/build/
/HotelReservationSystem/HoRSReservationClient/dist/
/HotelReservationSystem/HotelReservationSystem-ejb/build/
/HotelReservationSystem/HotelReservationSystem-ejb/dist/
/HotelReservationSystem/HoRSManagementClient/dist/
