/TestApplication/nbproject/private/
/TestApplication/TestApplication-war/nbproject/private/
/TestApplication/TestApplication-ejb/nbproject/private/
/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystem/HoRSManagementClient/nbproject/private/
/HotelReservationSystem/HoRSReservationClient/nbproject/private/
/HotelReservationSystem/HoRSLibrary/nbproject/private/
